body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1em;
}

.container {
  max-width: 64rem;
  margin: auto;
  padding: 2rem;
}

.listbox {
  border: 1px solid black;
  margin: 0;
  padding: 0;
}

.listbox-option {
  border-bottom: 1px solid black;
  color: #333;
  list-style: none;
  outline: none;
  padding: 0.5em 1em;
}

.listbox-option:last-child {
  border-bottom: 0;
}

.listbox-option.active {
  background: royalblue;
  color: white;
}

.listbox-option:hover:not(.active),
.listbox-option.highlighted {
  background: #ccc;
  color: #333;
}

.listbox-option.highlighted.active {
  background: #3a5fcc;
  color: white;
}
